In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [10]:

dataset_train = pd.read_csv('NSE-TATAGLOBAL.csv')
training_set=dataset_train.iloc[:,1:2].values

In [11]:
dataset_train.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2018-09-28,234.05,235.95,230.20,233.50,233.75,3069914,7162.35
1,2018-09-27,234.55,236.80,231.10,233.80,233.25,5082859,11859.95
2,2018-09-26,240.00,240.00,232.50,235.00,234.25,2240909,5248.60
3,2018-09-25,233.30,236.75,232.00,236.25,236.10,2349368,5503.90
4,2018-09-24,233.55,239.20,230.75,234.00,233.30,3423509,7999.55

In [12]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
training_set_scaled = sc.fit_transform(training_set)

In [14]:
X_train = []
y_train = []
for i in range(60, 2035):
    X_train.append(training_set_scaled[i-60:i,0])
    y_train.append(training_set_scaled[i,0])
    X_train,y_train = np.array(X_train),np.array(y_train) 
    X_train = np.reshape(X_train,(X_train.shape[0], X_train.shape[1],1))

AttributeError: 'numpy.ndarray' object has no attribute 'append'